Ed Sanders <ejsanders@gmail.com>
James D. Forrester <jforrester@wikimedia.org>
Petr Pchelko <ppchelko@wikimedia.org>
Petr Pchelko <ppchelko@wikimedia.org> <petrpchelko@gmail.com>
Timo Tijhof <krinkle@fastmail.com>
Timo Tijhof <krinkle@fastmail.com> <krinklemail@gmail.com>
